<div style="position:absolute; top:100px; left:655px;">
<a href="http://localhost:3000/tasks/new">
 <%= image_tag 'btn057_01.png' %>
  </div>
  </a>

<div style="position:absolute; top:100px; left:775px;">
 <a href="http://localhost:3000/oneweeks">
 <%= image_tag 'btn057_05.png' %>
 </div>
</a>

<div style="position:absolute; top:100px; left:895px;">
 <a href="http://localhost:3000/often_tasks">
 <%= image_tag 'btn057_06.png' %>
 </div>
</a>

<div style="position:absolute; top:100px; left:1015px;">
<a href="http://localhost:3000/chatlogs">
 <%= image_tag 'btn057_08.png' %>
 </div>
</a>

<div style="position:absolute; top:100px; left:1135px;">
<a href="">
 <%= image_tag 'btn057_03.png' %>
 </div>
</a>

<div style="position:absolute; top:180px; left:870px;">

<h1>追加</h1>

<%= render 'form' %>

<%= link_to '戻る', fin_tasks_path %>
<%= link_to 'マイページ', tasks_path %>