<div style="position:absolute; top:100px; left:700px;">
<a href="http://localhost:3000/tasks/new">
 <%= image_tag 'btn057_01.png' %>
  </div>
  </a>

<div style="position:absolute; top:100px; left:820px;">
 <a href="http://localhost:3000/oneweeks">
 <%= image_tag 'btn057_05.png' %>
 </div>
</a>

<div style="position:absolute; top:100px; left:940px;">
 <a href="http://localhost:3000/often_tasks">
 <%= image_tag 'btn057_06.png' %>
 </div>
</a>

<div style="position:absolute; top:100px; left:1060px;">
<a href="http://localhost:3000/chatlogs">
 <%= image_tag 'btn057_08.png' %>
 </div>
</a>

<div style="position:absolute; top:180px; left:850px;">

<h1>New Group</h1>

<%= render 'form' %>

<%= link_to 'Back', groups_path %>
