
<div style="position:absolute; top:150px; left:415px;">
<a href="http://localhost:3000/tasks/new">
 <%= image_tag 'btn057_01.png' %>
  </div>
  </a>

<div style="position:absolute; top:150px; left:535px;">
 <a href="http://localhost:3000/oneweeks">
 <%= image_tag 'btn057_05.png' %>
 </div>
</a>

<div style="position:absolute; top:150px; left:655px;">
 <a href="http://localhost:3000/often_tasks">
 <%= image_tag 'btn057_06.png' %>
 </div>
</a>

<div style="position:absolute; top:150px; left:775px;">
<a href="http://localhost:3000/chatlogs">
 <%= image_tag 'btn057_08.png' %>
 </div>
</a>

<div style="position:absolute; top:150px; left:895px;">
<a href="http://localhost:3000/photos">
 <%= image_tag 'btn057_03.png' %>
 </div>
</a>

<div style="position:absolute; top:240px; left:600px;">

<h1>チャットの編集</h1>

<%= render 'form' %>

<%= link_to '戻る', chatlogs_path %>
