<%= form_for(@photo) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :画像名 %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :詳細内容 %><br>
    <%= f.text_field :content %>
  </div>

  <div class="field">
    <% if @photo.image? %>
      <div class="thumbnail">
        <%= image_tag @photo.image %>
      </div>
    <% end %><br>
    <%= f.label :画像 %><br>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>
  <div class="field">
    <!-- 既存レコード（DBに保存されている）かつ、画像が存在する場合 -->
    <% if @photo.persisted? && @photo.image? %>
      <label>

        画像を削除
      </label>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit :作成 %>
  </div>
  <% end %>