<%= form_for(@often_task) do |f| %>
  <% if @often_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@often_task.errors.count, "error") %> prohibited this often_task from being saved:</h2>

      <ul>
      <% @often_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :予定名 %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit :登録 %>
  </div>
<% end %>
